<div class="container">
<div class="top">
  <%= image_tag "top.png" %>
</div>

<p class="navi">
  スタンプを集めて特典ARで写真を撮ろう!<br>
   スタンプは芸工棟内に貼られたマーカーからARを見ると押されるよ。
</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% u_name = (0...6).map{ (65 + rand(26)).chr }.join.downcase%>
  <div class="field">
    <% mail = u_name+"@mail.com" %>
    <%= f.hidden_field :email, value:mail %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.hidden_field :password, value:u_name %>
  </div>

  <div class="field">
    <%= f.hidden_field :password_confirmation, value:u_name %>
  </div>

  <div class="start">
    <%= f.submit "START" ,style: "font-size: 5vw"%>
  </div>
<% end %>
  <div class="gks2019"><%= image_tag "geikosai2019" %></div>
</div>
<%= render "devise/shared/links" %>