<!DOCTYPE html>
<html>
  <head>
    <title>Geiko2019AR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Mandali|PT+Sans|Patua+One&display=swap" rel="stylesheet">
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes">
<%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <% if user_signed_in? %>
    <header>
      <%= image_tag "head.png" %>
      <div class="user_name"><%= current_user.email.split('@')[0] %></div>
    </header>
    <% end %>
<!--     <p class="notice"><%= notice %></p> -->
<!--     <p class="alert"><%= alert %></p> -->
    <%= yield %>
<!-- <footer>
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% end %>
    </footer> -->
  </body>
</html>
